@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
:root {

    --default-font: 'Roboto', sans-serif;
    --secondary-font: 'Rubik', sans-serif;

    --primary: #BB86FC;
    --primary-variant: #5021be;
    --secondary: #03DAC6;
    --background: #141414;
    --surface: #121212;
    --error: #CF6679;
    --on-primary: #181818;
    --on-secondary: #000000;
    --on-background: #feffff;
    --on-surface: #FFFFFF;
    --on-error: #000000;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--secondary-font); 
}

html {
    width: 100%;
    background-color: var(--background);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    height: 100%;
}
